table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 10px 20px;
}

}

}

.order-no {
  color: rgba(0, 0, 0, 0.5)
}